<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <base href="/">
</head>
<body>

  <h1 *ngIf="home">Whot are you going to do?</h1>

  <nav>
    <button *ngIf="home" routerLink="/find" (click)="homeChange()" >find</button><br>
    <button *ngIf="home" routerLink="/insert" (click)="homeChange()" >insert</button><br>
    <button *ngIf="home" routerLink="/delete" (click)="homeChange()" >delete</button><br>
    <button *ngIf="home" routerLink="/login" (click)="homeChange()" >login</button><br>
    <button class="home" *ngIf="!home" routerLink="" (click)="homeChange()" >home</button><br>
  </nav>
  <router-outlet></router-outlet>

</body>
</html>