button{
    height: 2em;
    width: 6em;
    margin: auto;
    margin-top: .5em;
    display: block;
    position: relative;
    margin: 0 auto;
    font-size: 1.5em;
}

table{
    margin: auto;
}

td{
    text-align: center;
}